Repository tck199732/nuclear-correlation: changes, and which Codecov flags are due for each by the changed paths.
All: dev, util

:wrench: show components in pr
  codecov.yml
Due: none

:art: shorten names, move fill-paritcles to member
  dev/analysis.hpp
Due: dev

:bug: rm unused variables and fix memory leaks in analysis class
  dev/analysis.cpp
Due: dev

:bug: change '@' to '#'
  cmake/tools.cmake
Due: none

:sparkles: add relative vec for non-identical
  util/physics/physics.cpp
  util/physics/physics.hpp
Due: util

:test_tube: add relative vector test
  tests/util/test_physics.cpp
Due: none

:wrench: add gsl lib
  tests/util/CMakeLists.txt
Due: none

:fire: Delete custom_event class
  custom/readers/custom_event.cpp
  custom/readers/custom_event.hpp
Due: none

Refactor custom event and track monitors
  custom/cuts/custom_event_cut.cpp
  custom/cuts/custom_event_cut.hpp
  custom/cuts/custom_event_monitor.cpp
  custom/cuts/custom_event_monitor.hpp
  custom/cuts/custom_pair_cut.cpp
  custom/cuts/custom_pair_cut.hpp
  custom/cuts/custom_pair_monitor.cpp
  custom/cuts/custom_pair_monitor.hpp
  custom/cuts/custom_track_cut.hpp
  custom/cuts/custom_track_monitor.cpp
Due: none

Refactor custom_correlation class constructor and add missing return statements
  custom/correlations/custom_correlation.cpp
  custom/correlations/custom_correlation.hpp
Due: none

♻️ Refactor custom_reader class and fix memory leaks
  custom/readers/custom_reader.cpp
  custom/readers/custom_reader.hpp
Due: none

Remove custom_event.cpp and add argparse package
  custom/CMakeLists.txt
  standalone/CMakeLists.txt
Due: none

Refactor histogram naming in custom event, pair, and track monitors
  custom/cuts/custom_event_monitor.cpp
  custom/cuts/custom_pair_monitor.cpp
  custom/cuts/custom_track_monitor.cpp
  custom/readers/custom_reader.cpp
  custom/readers/custom_reader.hpp
Due: none

Remove unused external folder and update library dependencies
  util/CMakeLists.txt
  util/external/.gitignore
Due: util

Add custom and external libraries to main.hpp
  standalone/main.hpp
Due: none

Refactor main.cpp: reorganize code structure and add command line argument parsing
  standalone/main.cpp
Due: none

Update custom_correlation.cpp and custom_event_monitor.cpp
  custom/correlations/custom_correlation.cpp
  custom/cuts/custom_event_monitor.cpp
  custom/cuts/custom_pair_monitor.cpp
  custom/cuts/custom_track_monitor.cpp
Due: none

:bug: fix track arguments order
  custom/readers/custom_reader.cpp
  custom/readers/custom_reader.hpp
Due: none

Add indicators package to CMakeLists.txt
  standalone/CMakeLists.txt
Due: none

:bug: terminate if all entries are read so no extra reading
  custom/readers/custom_reader.cpp
Due: none

:fire: Remove pair and particle classes
  dev/pair.cpp
  dev/pair.hpp
  dev/particle.cpp
  dev/particle.hpp
Due: dev

♻️ update track class
  dev/base_cut.cpp
  dev/base_cut.hpp
  dev/collection.hpp
  dev/correlation.hpp
  dev/fevent.cpp
  dev/fevent.hpp
  dev/monitor.hpp
  dev/pair_cut.hpp
  dev/track.cpp
  dev/track.hpp
Due: dev

Refactor analysis class and add new methods
  dev/analysis.cpp
  dev/analysis.hpp
Due: dev

Update custom_pair_monitor and custom_pair_cut classes
  custom/correlations/custom_correlation.cpp
  custom/correlations/custom_correlation.hpp
  custom/cuts/custom_pair_cut.cpp
  custom/cuts/custom_pair_cut.hpp
  custom/cuts/custom_pair_monitor.cpp
  custom/cuts/custom_pair_monitor.hpp
  custom/cuts/custom_track_cut.cpp
  custom/cuts/custom_track_monitor.cpp
  custom/readers/custom_reader.cpp
Due: none

:bug: initialize again if set explicitly
  custom/cuts/custom_track_monitor.cpp
  custom/readers/custom_reader.cpp
  dev/track.cpp
  dev/track.hpp
Due: dev

:zap: use move constructor to copy tracks
  dev/analysis.cpp
  dev/track.hpp
Due: dev

Refactor code to properly handle memory deallocation in base_cut destructor
  dev/base_cut.cpp
  dev/base_cut.hpp
  dev/collection.hpp
  dev/correlation.hpp
  dev/event.cpp
  dev/event.hpp
  dev/fevent.cpp
  dev/fevent.hpp
  dev/manager.cpp
  dev/manager.hpp
  dev/pair_cut.hpp
  dev/reader.hpp
Due: dev

:fire: Delete test_pair.cpp and test_particle.cpp
  tests/dev/test_pair.cpp
  tests/dev/test_particle.cpp
Due: none

Change access modifier for private members in track.hpp
  dev/track.hpp
Due: dev

Fix type mismatch error in property.hpp
  dev/property.hpp
Due: dev

allow move not copy, refactor destructor
  dev/fevent.cpp
  dev/fevent.hpp
Due: dev

Refactor classes and fix memory leaks
  tests/dev/test_base_cut.cpp
  tests/dev/test_event.cpp
  tests/dev/test_fevent.cpp
  tests/dev/test_manager.cpp
  tests/dev/test_property.cpp
  tests/dev/test_reader.cpp
  tests/dev/test_track.cpp
Due: none

Fix negative mass error in relative_four_vector function
  util/physics/physics.cpp
  util/physics/physics.hpp
Due: util

Remove unused files and update CMakeLists.txt
  CMakeLists.txt
Due: none

Update virtual functions in custom_event_monitor, custom_pair_monitor, and custom_track_monitor
  custom/cuts/custom_event_monitor.hpp
  custom/cuts/custom_pair_monitor.hpp
  custom/cuts/custom_track_monitor.hpp
  dev/base_cut.hpp
  dev/monitor.hpp
Due: dev

Add new test files and update existing tests
  tests/dev/CMakeLists.txt
  tests/dev/test_analysis.cpp
  tests/dev/test_base_cut.cpp
  tests/dev/test_correlation.cpp
  tests/dev/test_cut.cpp
  tests/dev/test_fevent.cpp
  tests/dev/test_monitor.cpp
Due: none

:art: update format
  .clang-format
  custom/cuts/custom_event_cut.cpp
  custom/cuts/custom_event_monitor.cpp
  custom/cuts/custom_track_cut.hpp
  custom/readers/custom_reader.hpp
  standalone/main.hpp
  util/ame/ame.cpp
  util/ame/ame.hpp
  util/physics/physics.cpp
  util/physics/physics.hpp
Due: util

✨Add get_keys() method to Property class
  dev/property.hpp
Due: dev

:rewind: use copy constructor, std::move not good for multiple analysis
  dev/analysis.cpp
Due: dev

:zap: avoid std::pair to speed up & delete fevent after it is popped
  custom/correlations/custom_correlation.cpp
  custom/correlations/custom_correlation.hpp
  custom/cuts/custom_event_monitor.hpp
  custom/cuts/custom_pair_cut.cpp
  custom/cuts/custom_pair_cut.hpp
  custom/cuts/custom_pair_monitor.cpp
  custom/cuts/custom_pair_monitor.hpp
  custom/cuts/custom_track_monitor.hpp
  dev/analysis.cpp
  dev/base_cut.cpp
  dev/base_cut.hpp
  dev/correlation.hpp
  dev/monitor.hpp
  dev/pair_cut.hpp
Due: dev

Path conditions:
  dev: any of: dev/, but not: tests, env, build*/_deps/doctest-src
  util: any of: util/, but not: tests, env, build*/_deps/doctest-src
