Repository tck199732/nuclear-correlation: changes, and which Codecov flags are due for each by the changed paths.
All: dev, util

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment
  require_changes: true

ignore:
  - "tests"
  - "env"
  - "build*/_deps/doctest-src"

component_management:
  individual_components:
    - component_id: dev  # this is an identifier that should not be changed
      name: dev  # this is a display name, and can be changed freely
      paths:
        - dev/
    - component_id: util  # this is an identifier that should not be changed
      name: util  # this is a display name, and can be changed freely
      paths:
        - util/

include vector
  dev/property.hpp
Due: dev

avoid using std::pair
  tests/dev/test_analysis.cpp
  tests/dev/test_correlation.cpp
  tests/dev/test_cut.cpp
  tests/dev/test_monitor.cpp
Due: none

Add timing measurement to main.cpp
  standalone/main.cpp
  standalone/main.hpp
Due: none

Add copy assignment operator to track class
  dev/track.cpp
  dev/track.hpp
Due: dev

Add multiplicity_4pi member variable and corresponding getter and setter methods to event class
  dev/event.cpp
  dev/event.hpp
Due: dev

Remove unused header and add virtual function for cleaning mixing buffer
  dev/analysis.hpp
Due: dev

:bug: typo, fix the fill mixing event
  dev/analysis.cpp
Due: dev

move clean_mixing_buffer to protected
  dev/analysis.hpp
Due: dev

Add get_alias functions to ame class
  util/ame/ame.cpp
  util/ame/ame.hpp
Due: util

fix definition of q
  util/physics/physics.cpp
  util/physics/physics.hpp
Due: util

fix size comparison and use shuffle over random_shuffle
  dev/analysis.cpp
  dev/analysis.hpp
Due: dev

add efficiency explicity in track
  config.sh
  custom/cuts/custom_pair_monitor.cpp
  custom/cuts/custom_track_cut.cpp
  custom/readers/custom_reader.cpp
  dev/track.cpp
  dev/track.hpp
Due: dev

use int is enough
  standalone/main.cpp
  standalone/main.hpp
Due: none

fix out-side-long definition of relative q
  tests/util/test_physics.cpp
Due: none

🗃️add sample data in ROOT format
  assets/samples/benchmark.root
Due: none

run sample Hbt analysis on github action
  .github/workflows/standalone.yml
Due: none

ROOT 6.28.04 was retracted; upgraded to 6.28.10
  .github/workflows/install.yml
  .github/workflows/standalone.yml
Due: none

Update minimum required CMake version to 3.22
  CMakeLists.txt
  all/CMakeLists.txt
  custom/CMakeLists.txt
  standalone/CMakeLists.txt
  tests/CMakeLists.txt
  tests/dev/CMakeLists.txt
  tests/util/CMakeLists.txt
  util/CMakeLists.txt
Due: util

Update minimum required CMake version to 3.22...3.28
  CMakeLists.txt
  all/CMakeLists.txt
  custom/CMakeLists.txt
  standalone/CMakeLists.txt
  tests/CMakeLists.txt
  tests/dev/CMakeLists.txt
  tests/util/CMakeLists.txt
  util/CMakeLists.txt
Due: util

Add VDT include and library directories to GitHub environment (cmake does not find automatically in 6.28.10)
  .github/workflows/install.yml
  .github/workflows/standalone.yml
Due: none

Add sourcing of thisroot.sh to install and standalone workflows
  .github/workflows/install.yml
  .github/workflows/standalone.yml
Due: none

Fix ROOT environment setup in GitHub workflows
  .github/workflows/install.yml
  .github/workflows/standalone.yml
Due: none

add unit tests
  tests/dev/test_analysis.cpp
  tests/dev/test_cut.cpp
  tests/dev/test_track.cpp
Due: none

:truck: move data to database dir
  database/ame/ame-20.tbl
  database/samples/benchmark.root
Due: none

:art: add sample output figure
  assets/ame/ame-20.tbl
  assets/benchmark.png
  assets/samples/benchmark.root
Due: none

add relative angle and rapidity calculations
  tests/util/test_physics.cpp
  util/physics/physics.cpp
  util/physics/physics.hpp
Due: util

correct for naming convention
  custom/Reader/CustomReader.cpp
  standalone/main.cpp
  tests/dev/test_analysis.cpp
  tests/dev/test_manager.cpp
  tests/util/test_ame.cpp
  util/ame/ame.cpp
Due: util
